header {
  padding: 5px;
  margin: 5px;
}

.quiz-container {
  height: 350px;
  width: 100%;
  padding: 20px;
  margin: 20px 0px 20px 0px;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
}

.end-container {
  height: 350px;
  width: 500px;
  padding: 20px;
  margin: 20px 0px 20px 0px;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
}

p {
  text-align: center;
}

#quizQ {
  font-size: 24px;
  text-align: center;
}

#btn0, #btn1, #btn2, #btn3 {
  padding: 10px;
  margin: 10px;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
}

#timerDiv {
  float: right;
  margin: 2px;
  color: #026069;
}

#highscoresDiv {
  float: left;
  margin: 2px;
}

#prev,
#next {
  margin: 20px;
}

#submit, #restart {
  margin: 20px;
  height: 50px;
  padding: 5px;
  width: 150px;
}

#quizDiv, #endQuiz, #startOver, #scoresDiv {
  display: none;
}

.hide-me {
  display: block;
}

#startDiv {
  height: 350px;
  width: 100%;
  padding: 20px;
  margin: 20px 0px 20px 0px;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
}

#startQuiz, #restartDiv {
  text-align: center;
  margin: 20px;
}

.btn-light {
  color: #026069;
}

input {
  font-size: 18px;
  height: 35px;
  width: 225px;
}

h1, h3, h5 {
  text-align: center;
}

.end {
  display: flex;
  align-items: center;
}

/* .col-md-7 {
  margin: 50px;
} */

/* styles from other quiz */
/* @import url(https://fonts.googleapis.com/css?family=Work+Sans:300, 600); */

body {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  color: #333;
  font-weight: 300;
}
/* h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
} */
.question {
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label {
  display: block;
  margin-bottom: 10px;
}
button {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  background-color: #00828f;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
}
button:hover {
  background-color: #026069;
}

.btn-primary {
  background-color: #00828f;
}

.btn-primary:hover {
  background-color: #026069;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
  padding: 20px;
}
.active-slide {
  opacity: 1;
  z-index: 2;
}

.clearfix {
  overflow: auto;
}
